{{!-- {{#each this}}

    <h2 class="country-title">{{name}}</h2>
    <div class="main-container">
<div class="country-container">
    <p>Capital:{{capital}}</p>
    <p>Population:{{population}}</p>
    <p>Languages:</p>
    <ul>
        {{#each languages}}
        <li>{{name}}</li>
        {{/each}}
    </ul>
</div>
<div class="flag-container">
    <img class="flag-img" src='{{flag}}' alt="country-flag" width="400">
</div>
</div>

{{/each}} --}}

{{#each this}}
<div class="photo-card">
  <img src="" alt="" />

  <div class="stats">
    <p class="stats-item">
      <i class="material-icons">thumb_up</i>
      1108
    </p>
    <p class="stats-item">
      <i class="material-icons">visibility</i>
      320321
    </p>
    <p class="stats-item">
      <i class="material-icons">comment</i>
      129
    </p>
    <p class="stats-item">
      <i class="material-icons">cloud_download</i>
      176019
    </p>
  </div>
</div>

{{/each}}